*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

body{
    background-color: #A1CEFF;
}

nav{
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    padding: 10px;
}

h1, h2{
    margin: 20px auto;
    border-bottom: 2px solid #F3FFA1;
}

h1{
    font-size: 40px;
    text-align: center;
    width: 50%;
}

h2{
    font-size: 30px;
    text-align: center;
    width: 30%;
}

p{
    font-size: 18px;
    text-indent: 20px;
    text-align: justify;
    margin: 10px 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: #F3FFA1;
}

table{
    width: 100%;
    margin: 0 auto;
    border-spacing: 10px 0;
}

th, td{
    text-align: center;
    font-size: 40px;
    border: 3px solid rgba(0, 0, 0, 0.2);
}

th{
    background-color: #F3FFA1;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

td{
    background-color: #F3FFA1;
    border-radius: 0 0 10px 10px;
}

.longText{
    font-size: 30px;
}

.back{
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 70px;
    background-color: #FFA7A1;
    color: aliceblue;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.back:hover, .right-button:hover{
    background-color: #fcb2ad;
}

.right-button{
    margin: 10px 0 10px auto;
    padding: 10px 20px;
    background-color: #FFA7A1;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.right-button h3{
    font-size: 20px;
    color: aliceblue;
}