.question{
    width: 90%;
    text-align: left;
    padding: 0 10px;
    font-size: 40px;
}

.options{
    display: flex;
}

.options button{
    width: 15%;
    height: 80px;
    font-size: 30px;
    margin: 0 auto;
    background-color: #FFA7A1;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.options button:hover{
    background-color: #fcb2ad;
}

table{
    width: 25%;
    margin: 50px auto;
    border-spacing: 0;
}

th, td{
    text-align: center;
    width: 50%;
    font-size: 40px;
}